In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("X_Train_Data_Input.csv")

In [3]:
df.head()

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0,0.001351,0.00339,0.0,0,0.0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0,0.001351,0.00339,0.0,0,0.0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,1,0.001351,0.00339,0.0,0,0.0,0,0,0
3,59f9b981472d97342587fb3e6392aeb1,0.0,211,59.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,...,0,0,NaN,0.00339,0.0,0,1.0,0,0,0
4,f6317cf7ecf126859804eddff279aead,0.0,718,950.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,0,NaN,0.00339,0.0,0,0.0,0,0,0

In [4]:
df.shape

(785133, 23)

In [6]:
df_out = pd.read_csv("Y_Train_Data_Target.csv")

In [7]:
df_out.head()

                                 ID  target
0  ad1a67e4cbddc767a3456b0d94299b9e       0
1  7246d2f76ac0c217ec25e72ea5f014cb       0
2  22ba388e7dd14c13342c49e75fc29dda       0
3  59f9b981472d97342587fb3e6392aeb1       1
4  f6317cf7ecf126859804eddff279aead       0

In [52]:
df_main = pd.merge(df, df_out, on='ID', how='inner')

In [54]:
df_main_copy = df_main.copy()

In [55]:
df__copy = df.copy()

In [56]:
df = df_main

In [57]:
df.isnull().sum()

ID               0
Column0          9
Column1          0
Column2          0
Column3     126303
Column4     127710
Column5     167180
Column6       3850
Column7          0
Column8       3850
Column9     732137
Column10         0
Column11         0
Column12         0
Column13         0
Column14    365703
Column15     16456
Column16         0
Column17         0
Column18         0
Column19         0
Column20         0
Column21         0
target           0
dtype: int64

In [58]:
df1 = df.iloc[:10000,:]

In [59]:
df1.isnull().sum()

ID             0
Column0        0
Column1        0
Column2        0
Column3     1701
Column4     1719
Column5     2183
Column6       55
Column7        0
Column8       55
Column9     9342
Column10       0
Column11       0
Column12       0
Column13       0
Column14    4739
Column15     227
Column16       0
Column17       0
Column18       0
Column19       0
Column20       0
Column21       0
target         0
dtype: int64

In [60]:
df1_copy = df1.copy()

In [61]:
df1 = df1_copy

In [62]:
# df1 = df1.dropna()
df1 = df1.drop("Column9", axis = 1)

In [63]:
df1.head()

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
3,59f9b981472d97342587fb3e6392aeb1,0.0,211,59.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,1.0,0,0,0,1
4,f6317cf7ecf126859804eddff279aead,0.0,718,950.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,0.0,0,0,0,0

In [64]:
df1

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
3,59f9b981472d97342587fb3e6392aeb1,0.0,211,59.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,1.0,0,0,0,1
4,f6317cf7ecf126859804eddff279aead,0.0,718,950.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,5531586c9bf7889b5e10f5e3561c7b53,2.0,957,16.0,0.678139,0.701403,-0.007468,-0.331135,-0.015606,1.184445,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
9996,9040950130f6dd5b62a97426a78fb9f2,0.0,1360,1462.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,0.0,0,0,0,0
9997,0587d5ca9eb370debcdcb1b6df69670a,0.0,2495,2899.0,-0.224098,-0.150974,-0.007469,-0.407939,-0.015607,1.196027,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
9998,ab25f8aca2c407a4367fc97e703667b7,2.0,2495,4939.0,0.678139,0.701403,-0.007468,-0.220834,-0.015607,0.577422,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
9999,2a661e8df9a1721c60e979a13c653140,0.0,864,4831.0,-2.028572,-0.577162,-0.007469,2.420991,-0.015605,0.167643,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0

In [65]:
df1 = df1.reset_index(drop = True)

In [66]:
df1

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
3,59f9b981472d97342587fb3e6392aeb1,0.0,211,59.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,1.0,0,0,0,1
4,f6317cf7ecf126859804eddff279aead,0.0,718,950.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,5531586c9bf7889b5e10f5e3561c7b53,2.0,957,16.0,0.678139,0.701403,-0.007468,-0.331135,-0.015606,1.184445,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
9996,9040950130f6dd5b62a97426a78fb9f2,0.0,1360,1462.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,0.0,0,0,0,0
9997,0587d5ca9eb370debcdcb1b6df69670a,0.0,2495,2899.0,-0.224098,-0.150974,-0.007469,-0.407939,-0.015607,1.196027,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
9998,ab25f8aca2c407a4367fc97e703667b7,2.0,2495,4939.0,0.678139,0.701403,-0.007468,-0.220834,-0.015607,0.577422,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
9999,2a661e8df9a1721c60e979a13c653140,0.0,864,4831.0,-2.028572,-0.577162,-0.007469,2.420991,-0.015605,0.167643,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0

In [67]:
df1.isnull().sum()

ID             0
Column0        0
Column1        0
Column2        0
Column3     1701
Column4     1719
Column5     2183
Column6       55
Column7        0
Column8       55
Column10       0
Column11       0
Column12       0
Column13       0
Column14    4739
Column15     227
Column16       0
Column17       0
Column18       0
Column19       0
Column20       0
Column21       0
target         0
dtype: int64

In [68]:
df1 =  df1.dropna()

In [69]:
df1.reset_index(drop = True)

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
3,5f8333ef730a6ce87968d0158a684e05,0.0,2495,2612.0,-2.028572,-1.855728,-0.007468,-0.402851,-0.015607,0.673163,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
4,35de3c8468023ca3cecdcc99f60c2c3d,0.0,2495,3053.0,0.678139,0.701403,-0.007468,-0.094001,-0.015605,0.136592,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5210,6b052ddc9f7ec5216fe66627c9ae82fc,0.0,639,2621.0,0.678139,-0.577162,-0.007469,-0.407939,-0.015607,0.958292,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
5211,5531586c9bf7889b5e10f5e3561c7b53,2.0,957,16.0,0.678139,0.701403,-0.007468,-0.331135,-0.015606,1.184445,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
5212,0587d5ca9eb370debcdcb1b6df69670a,0.0,2495,2899.0,-0.224098,-0.150974,-0.007469,-0.407939,-0.015607,1.196027,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
5213,ab25f8aca2c407a4367fc97e703667b7,2.0,2495,4939.0,0.678139,0.701403,-0.007468,-0.220834,-0.015607,0.577422,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
5214,2a661e8df9a1721c60e979a13c653140,0.0,864,4831.0,-2.028572,-0.577162,-0.007469,2.420991,-0.015605,0.167643,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0

In [70]:
from sklearn.decomposition import PCA

In [71]:
pca = PCA(n_components = 5)

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
from sklearn.preprocessing import StandardScaler

In [74]:
scaler = StandardScaler()

In [75]:
df1.head()

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
6,5f8333ef730a6ce87968d0158a684e05,0.0,2495,2612.0,-2.028572,-1.855728,-0.007468,-0.402851,-0.015607,0.673163,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
7,35de3c8468023ca3cecdcc99f60c2c3d,0.0,2495,3053.0,0.678139,0.701403,-0.007468,-0.094001,-0.015605,0.136592,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0

In [76]:
df1 = df1.drop("ID", axis = 1)

In [77]:
df1.head()

,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column10,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,0,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,0,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,1,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
6,0.0,2495,2612.0,-2.028572,-1.855728,-0.007468,-0.402851,-0.015607,0.673163,0,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
7,0.0,2495,3053.0,0.678139,0.701403,-0.007468,-0.094001,-0.015605,0.136592,0,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0

In [83]:
x = df1.drop("target", axis = 1)

In [84]:
y = df1['target']

In [85]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 99)

In [86]:
scaler.fit(x_train)

StandardScaler()

In [87]:
x_train_scaled = scaler.transform(x_train)

In [88]:
x_test_scaled = scaler.transform(x_test)

In [90]:
pca.fit(x_train)

PCA(n_components=5)

In [91]:
x_train_pca = pca.transform(x_train_scaled)

C:\Users\manit\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(

In [92]:
x_train_pca

array([[-3.35836778e+03,  1.35943177e+03,  1.17713502e+00,
        -3.90853214e+00, -1.48594108e+00],
       [-3.36187190e+03,  1.36108425e+03, -1.24291546e-01,
         1.25475645e+00,  1.63532712e+00],
       [-3.36110847e+03,  1.36121462e+03, -8.21971250e-01,
        -1.10987628e+00,  2.65313330e+00],
       ...,
       [-3.36045062e+03,  1.35925403e+03, -6.57316189e-01,
        -1.38268708e+00,  1.51646041e+00],
       [-3.36097429e+03,  1.35922965e+03,  2.78903310e+00,
         2.64096024e+00,  2.15018164e+00],
       [-3.36084040e+03,  1.35988546e+03, -3.85483655e-01,
        -1.55540976e+00, -1.17294455e+00]])

In [93]:
x_test_pca = pca.transform(x_test_scaled)

C:\Users\manit\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(

In [94]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import LogisticRegression

In [95]:
# model = LinearRegression()

In [96]:
model = LogisticRegression()

In [97]:
model.fit(x_train_pca, y_train)

LogisticRegression()

In [98]:
y_pred = model.predict(x_test_pca)

In [99]:
from sklearn.metrics import accuracy_score

In [100]:
accuracy_score(y_pred, y_test)

0.9731543624161074